{% extends 'main/base.html' %}

{% block title %}
Create New List
{% endblock %}

{% block content %}
<h3>Create Page</h3>
<form method="post" actions="/create/", class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            {{form.name}}
            <button type="submit", name="save", class="btn btn-success"> Create New</button>

        </div>
    </div>
     <u>
         {% for list in ls.all %}
         <li>
             <a href="/{{list.id}}">{{list.name}}</a>
         </li>
         {% endfor %}
     </u>
</form>
{% endblock %}